.App {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

#map {
  justify-content: center;
  margin: auto;
}

.MapContainer {
  width: 90%;
  height: 800px;
  justify-content: center;
  margin: auto;
}
.Jobs {
  margin-top: 40px;
}

.jobs-container {
  margin-top: 40px;
}

.job-cards {
  padding-top: 30px;
  width: 90%;
  margin: auto;
}
